<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1)write a python program to find power of number with recursion(input n=2 , p=3)
def power(n,p):
    if(p==1):
        return(n)
    if(p!=1):
        return(n*power(n,p-1))
n=int(input("Enter base: "))
p=int(input("Enter exponential value: "))
print("Result:",power(n,p))

Enter base: 2
Enter exponential value: 3
Result: 8

In [ ]:
# 1)write a python program to find power of number without recursion(input n=2,p=3)
n=int(input("Enter base:"))
p=int(input("Enter exponenetial value:"))
power=n**p
print("Result:",power)

Enter base:2
Enter exponenetial value:3
Result: 8

In [ ]:
# 2)write a program to sort tuple by total digits (input: list=[(3,4,6,723),(1,2),(134,234,34)] output:[(1,2)(3,4,6,723)(34,134,234)]
a=[(3,4,6,723),(1,2),(134,234,34)]
print(a)
b=sorted(a)
print(b)

[(3, 4, 6, 723), (1, 2), (134, 234, 34)]
[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
a=eval(input("Enter the list of tuples:"))
print(a)
b=sorted(a)
print(b)

Enter the list of tuples:[(3,4,6,723),(1,2),(134,234,34)]
[(3, 4, 6, 723), (1, 2), (134, 234, 34)]
[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
# 3)take five subjects from the user and display the grade of the student,if average is 90-100(o),80-89(a+),70-79(a)...
a=int(input("Enter first subject marks:"))
b=int(input("Enter second subject marks:"))
c=int(input("Enter third subject marks:"))
d=int(input("Enter fourth subject marks:"))
e=int(input("Enter fifth subject marks:"))
avg=(a+b+c+d+e)/5
if avg>=90 and avg<=100:
  print("Grade is O")
elif avg>=80 and avg<=89:
  print("Grade is A+")
elif avg>=70 and avg<=79:
  print("Grade is A")
elif avg>=60 and avg<=69:
  print("Grade is B")
else:
  print("Fail")

Enter first subject marks:90
Enter second subject marks:92
Enter third subject marks:94
Enter fourth subject marks:96
Enter fifth subject marks:98
Grade is O

In [ ]:
# 4)write a python program that prints 1 if all three given numbers are ascending order.
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
if a<b<c:
  print("1")
else:
  print("0")

Enter first number:5
Enter second number:55
Enter third number:555
1

In [ ]:
a,b,c=map(int,input().split())
if b!=a+1 or c!=b+1:
  print(0)
elif b==a+1 or c==b+1:
  print(1)
else:
  print("None")

2 3 4
1

In [ ]:
# 5)check a given number is perfect number are not
n = int(input("Enter any number: "))
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("Number is a Perfect number")
else:
    print("Number is not a Perfect number!")

Enter any number: 5
Number is not a Perfect number!

In [ ]:
# 6)check a given string is a pallindrome or not
a=input("Enter a string:")
a=a.casefold()
b=reversed(a)
if list(a)==list(b):
   print("String is a palindrome")
else:
   print("String is not a palindrome")

Enter a string:Yang isi gnaY
String is a palindrome

In [ ]:
# 7)find the gcd of two numbers without recursion(5,3=1)
a=int(input("Enter 1st number: "))
b=int(input("Enter 2nd number: "))
i = 1
while(i<=a and i<=b):
  if(a%i==0 and b%i==0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 5
Enter 2nd number: 3
GCD is 1

In [ ]:
# 7)find the gcd of two numbers with recursion(5,3=1)
def gcd(a,b):
  c=a%b
  if (c==0):
    return b
  else:
    return gcd(b,c)
x=int(input("Enter 1st number: "))
y=int(input("Enter 2nd number: "))
print("GCD:",gcd(x,y))

Enter 1st number: 5
Enter 2nd number: 3
GCD: 1

In [ ]:
# 8)print sum of even and odd digits in a given number
n = int(input("Enter a number:"))
se = 0
sodd = 0
while n > 0:
    r = n % 10
    if r % 2 == 0:
        se = se + r
    else:
        sodd = sodd + r
    n = int(n / 10)
print("Sum of even digits:", se)
print("Sum of odd digits:", sodd)

Enter a number:12345
Sum of even digits: 6
Sum of odd digits: 9

In [ ]:
# 9)calculate the product of digits of a number
def Product(n):
  product = 1
  while (n != 0):
        product = product * (n % 10)
        n = n // 10
  return product
n=int(input("Enter a number:"))
print(Product(n))

Enter a number:155
25

In [ ]:
# 10)write a program to calculate the sum of squares given by user(123=14)
num = int(input("Enter a number:"))
sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)

print("Sum of squares of digits of the number is: ")
print(sum)

Enter a number:555
Sum of squares of digits of the number is:
75

In [15]:
# 11)given a string is s= abcdefcba how many times ith character from the front equals last ith element
# print(countfrontbackmatches('abcdefcba'))
a=input("Enter a string:")
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

Enter a string:abcdefcba
3

In [31]:
# 12)given an integer n, return a list containing 1223334444.. and finaly n repeated n times(n>0)
n=int(input("Enter an integer:"))
a=0
for x in range(0,n):
  if a<x:
   print(x*x)

Enter an integer:5
1
4
9
16

In [32]:
# 13)print number of vowels and consonents in a given string(gitam university)
vowels=['a','e','i','o','u']
a=input("Enter a string:")
v=0
c=0
for i in a:
  if i in vowels:
    v+=1
  elif i != ' ':
        c+= 1
print("Vowels: ",v)
print("Consonants: ",c)

Enter a string:Gitam University
Vowels:  5
Consonants:  10

In [ ]:
# 14)Given two numbers a,b; if a<b,Print all the numbers from a to b(inclusively) ,if a>=b,Print in descending order
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
if a<b:
  for i in range(a,b+1):
    print(i)
else:
  for i in range(a,b-1,-1):
    print(i)

Enter first number:1
Enter second number:10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 14)Given two numbers a,b; if a<b,Print all the numbers from a to b(inclusively) ,if a>=b,Print in descending order
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
if a<b:
  for i in range(a,b+1):
    print(i)
else:
  for i in range(a,b-1,-1):
    print(i)

Enter first number:10
Enter second number:1
10
9
8
7
6
5
4
3
2
1

In [34]:
# 15)program to print greatest of three numbers
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
if a>b and a>c:
  print("a is largest")
elif b>a and b>c:
  print("b is largest")
else:
  print("c is largest")

Enter first number:5
Enter second number:55
Enter third number:555
c is largest

In [38]:
# 16)write a program to print numbers of strings where the string length is 2 or more and the fist and last are same from given input
def compare(a):
    c= 0
    for i in a:
        if len(i) > 2 and i[0] == i[-1]:
            c+= 1
    return c
a = ['abc', 'xyz', 'aba', '1221', 'aaa', 'asdasdsada']
for i in a:
    b= compare(a)
print(b)

4

In [40]:
# 17)round trip of 3+3=6 km.no of days and no of round trips.<40000 meters (need to walk more ) >40000 meters (good job)
days=int(input('Enter the no of days:'))
no=int(input("enter no of meters"))
dis=days*no
if dis<40000:
  print("need to work more")
else:
  print("well done")

Enter the no of days:5
enter no of meters10000
well done

In [43]:
# 18)given alist of students l and a character, display the names of the students whose first character is a capital character
# print(student details([]))
a=['hello','Hello']
print("The original string is : " + str(a))
for i in a:
   if i.isupper():
     print(i)

The original string is : ['hello', 'Hello']

In [20]:
# 19)given a list of city names whose length is greater than the given length
c=['USA','Paris','France','Australia']
a=input("Given length:")
for i in c:
  if len(i)>1:
    print(i)

Given length:4
USA
Paris
France
Australia

In [30]:
# 20)write a progam to print prime numbers in given range by using functions(25,50).
def prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
    return True
start=int(input("Starting with number:"))
end=int(input("End with number:"))
for i in range(start,end):
  if prime(i):
    print(i,end="\n")

Starting with number:25
End with number:50
25
27
29
31
33
35
37
39
41
43
45
47
49

In [29]:
# 21)write program to read any month in integer and display days for that month.
a=int(input("Enter the month number:"))
b=[4,6,9,11]
if a==2:
  print("28/29")
elif a in b:
  print("30")
elif a not in b:
  print("31")
else:
  print("Enter the correct choice")

Enter the month number:5
31

In [28]:
# 22)write a python program to print even length words in string.
#  input:   " this is a python class"
#  output: this is python
a=input("Enter a string:")
b=a.split()
for x in b:
  if len(x)%2==0:
    print(x)

Enter a string:this is a python class
this
is
python

In [23]:
# 23)write a python program to captalise the first and last of each word
String = input('Enter a string:')
String = String[0:1].upper() + String[1:len(String)-1] + String[len(String)-1:len(String)].upper()
print(String)

Enter a string:yang is a top star
Yang is a top staR

In [ ]:
# 24)write a python program to convert a list of multiple integers into a single line. input:[11,22,33] and output:112233
a=[11,22,33]
for i in a:
  print(i,end='')

112233

In [ ]:
# 25)Write a program to check given number is fibonacci or not
n=int(input("Enter the Number:"))
c=0
a=1
b=1
if n==0 or n==1:
    print("fibonacci number")
else:
    while c<n:
        c=a+b
        b=a
        a=c
    if c==n:
        print("fibonacci number")
    else:
        print("Not a fibonacci number")

Enter the Number:5
fibonacci number

In [ ]:
# 26)Read a string from user and display the string with first character capital Ex. Yang went to college
a=input("Enter a string:")
b=a.capitalize()
print(b)

Enter a string:yang is a top star
Yang is a top star