<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/Module_2_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.Create a function which accepts two inputs from the user and compute nCr
def factorial(x):
    fact = 1
    for i in range(1,x+1):
        fact = fact * i
    return fact
n = int(input("Enter n value: "))
r = int(input("ENter r value: "))
a= factorial(n)/(factorial(r)*factorial(n-r))
print("Answer for ncr is: ",a)

Enter n value: 6
ENter r value: 4
Answer for ncr is:  15.0

In [7]:
# 2.Recursive function to compute GCD of 2 numbers
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print(GCD)

Enter first number:2
Enter second number:4
2

In [11]:
# 3.Recursive function to find product of two numbers
def product(a,b):
  if a<b:
    return product(b,a)
  elif(b!=0):
    return (a+product(a,b-1))
  else:
    return 0
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
str(a)+' * '+str(b)+' = ',product(a,b)

Enter first number:5
Enter second number:55

('5 * 55 = ', 275)

In [14]:
# 4.Recursive function to generate Fibonacci series
def fibonacci(series):
    if(series<=1):
        return series
    else:
        return (fibonacci(series-1)+fibonacci(series-2))
series=int(input("Enter number of terms:"))
for i in range(series):
    print(fibonacci(i))

Enter number of terms:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
# 5.Program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']
Colors=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del Colors[0]
del Colors[3]
del Colors[3]
print(Colors)

['Green', 'White', 'Black']

In [ ]:
# 6.Program to get the difference between the two lists.
a=[10,20,30,40,50]
b=[60,70,75,80,90]
c=set(a)
d=set(b)
print(c)
print(d)
i=d.difference(c)
a=list(c)
b=list(d)
print(a)
print(b)
print(i)

{40, 10, 50, 20, 30}
{70, 75, 80, 90, 60}
[40, 10, 50, 20, 30]
[70, 75, 80, 90, 60]
{70, 75, 80, 90, 60}

In [49]:
# 7.Program to find the second smallest number and second largest number in a list
a=[10,20,30,40,50,60,70,80,90]
a.sort()
print(a)
print("Second largest:",a[len(a)-2])
print("Second smallest:",a[1])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
Second largest: 80
Second smallest: 20

In [27]:
# 8. Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number
a=int(input("Enter the lower range:"))
b=int(input('Enter the upper range:'))
x=[(i,i**2)for i in range(a,b+1)]
print(x)

Enter the lower range:1
Enter the upper range:10
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [53]:
# 8.Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.
a=[1,2,3,4,5,6,7,8,9,10]
print(a)
result = [(val, pow(val, 2)) for val in a]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [36]:
# 9.Given list of tuples, remove all the tuples with length K. 
# Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
# Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
# Explanation : (4, 5) of len = 2 is removed
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("original list:"+str(test_list))
k=1
print(k)
result=[i for i in test_list if len(i) !=K]
print("Filtered list : " + str(result))

original list:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
1
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [39]:
# 10.Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
# Sample Input: (n=5) : 
# Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
n=int(input("Enter a number:"))
d=dict()
for x in range(1,n+1):
  d[x]=x*x
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [54]:
# 11.Program to remove a key from a dictionary
a={'Yang':20,'Wang':22,'Kai':30,'lin':25}
print(a)
if 'Wang' in a:
  del a['Kai']
print(a)

{'Yang': 20, 'Wang': 22, 'Kai': 30, 'lin': 25}
{'Yang': 20, 'Wang': 22, 'lin': 25}

In [55]:
# 12.Program to get the maximum and minimum value in a dictionary
a={'Yang':20,'Wang':22,'Kai':30,'lin':25}
min_key=min(a,key=a.get)
max_key=max(a,key=a.get)
print(min_key)
print(max_key)
print(a.get(min_key))
print(a.get(max_key))

Yang
Kai
20
30

In [46]:
# 13.Program to perform operations on string using unicodes,splitting of string,accessing elements of string using locations
a='Kgf2 is an excellent movie'
print(a.split())
print(a[8:20])

['Kgf2', 'is', 'an', 'excellent', 'movie']
an excellent

In [56]:
# 14.Program for Counting occurrence of a certain element in a string, getting indexes that  have matching elements.
# For Example-1.In Rabbit count how many times b has occurred . 
a='Rabbit'
c=a.count('b')
print(c)

2

In [57]:
# # 14.Example-2.I have to go to a doctor and get myself checked. Count the number of occurrences of 'to'
a='I have to go to a doctor and get myself checked'
c=a.count('to')
print(c)

3

In [58]:
# 15.Program for replacing one substring by another For example - Rabbit - Replace 'bb' by 'cc'
x="Rabbit"
print(x)
y=a.replace('bb','cc')
print(y)

Rabbit
I have to go to a doctor and get myself checked

In [59]:
# 16.Program to Acronym generator for any user input (ex-input is Random memory access then output should be RMA).Example - Random number (RN)
a=input("Enter a string:")
b=a.split()
for i in b:
  print(i[0],end='')

Enter a string:RANDOM NUMBER
RN

In [60]:
# 17.Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
def string(s):
  a={'upper':0,'lower':0}
  for i in s:
    if i.isupper():
      a['upper']+=1
    elif i.islower():
      a['lower']+=1
    else:
      pass
  print(s)
  print(a["upper"])
  print(a["lower"])

string("Kgf2 movie is a blockbuster movie")

Kgf2 movie is a blockbuster movie
1
26

In [ ]:
# 18.Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
# Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
def select(words):
  c=0

  for word in words:
    if len(word)>1 and word[0]==word[-1]:
      c+=1
  return c
print(select(['abc', 'xyz', 'aba', '1221']))

2