<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/Module_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Accept input from user and store it in variable and print the value

In [ ]:
# Taking input(Static) and printing value
a=5
print(a)
print(type(a))

5
<class 'int'>

In [ ]:
# Taking input(Dynamic) and printing value
a=int(input("Enter a number:"))
print(a)

Enter a number:55
55

In [ ]:
# Different datatypes
a=5
print(type(a))

<class 'int'>

In [ ]:
a='Hello'
print(type(a))

<class 'str'>

In [ ]:
a=5.5
print(type(a))

<class 'float'>

## Use of print statements and use of (.format )for printing different datatypes

In [ ]:
Quantity=5
Price=500
Item=4
Name="Ferrero Rocher"
Order="I bought {3} costs {1} having {0} and purchased {2}"
print(Order.format(Quantity,Price,Item,Name))

I bought Ferrero Rocher costs 500 having 5 and purchased 4

## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (Same operations on floating point input as well)

### Integers as input

In [ ]:
# Add two numbers
a=10
b=20
add=a+b
print(add)

30

In [ ]:
# Subtract two numbers
a=100
b=50
subtract=a-b
print(subtract)

50

In [ ]:
# Multiply two numbers
a=50
b=50
multiply=a*b
print(multiply)

2500

In [ ]:
# Divide two numbers
a=25
b=5
divide=a/b
print(divide)

5.0

In [ ]:
# remainder
a=5
b=2
remainder=a%b
print(remainder)

1

### Floating numbers as input

In [ ]:
# Add two numbers
a=10.5
b=20.7
add=a+b
print(add)

31.2

In [ ]:
# Subtract two numbers
a=40.6
b=20.2
subtract=a-b
print(subtract)

20.400000000000002

In [ ]:
# Multiply two numbers
a=50.3
b=50.4
multiply=a*b
print(multiply)

2535.12

In [ ]:
# Divide two numbers
a=25.5
b=5
divide=a/b
print(divide)

5.1

In [ ]:
# remainder
a=5.5
b=2
remainder=a%b
print(remainder)

1.5

## Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
# Time units conversion
a=int(input("Enter time in hours:"))
b=a*60
print(b)

Enter time in hours:5
300

In [ ]:
# Distance units conversion
a=int(input("Enter distance in miles:"))
b=1.60934*a
print(b)

Enter distance in miles:5
8.0467

## Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc.

In [ ]:
# math.ceil
import math
print(math.ceil(5.5))

6

In [ ]:
# math.floor
import math
print(math.floor(5.5))

5

In [ ]:
# math.fabs
import math
print(math.fabs(-1))

1.0

In [ ]:
# math.fmod
import math
print(math.fmod(20,5))

0.0

In [ ]:
# math.trunc
import math
print(math.trunc(5.55))

5

In [ ]:
# math.pow
import math
print(math.pow(2,5))

32.0

In [ ]:
# math.sqrt
import math
print(math.sqrt(25))

5.0

In [ ]:
# Building a mathematical calculator that can perform operations according to user input.Use decision making statement
a=float(input("Enter first number:"))
b=float(input("Enter second number:"))
x=input("Enter an operation:")
if x=="+":
  print(a+b)
elif x=="-":
  print(a-b)
elif x=="*":
  print(a*b)
elif x=="/":
  print(a/b)
else:
  print(a%b)

Enter first number:55
Enter second number:5
Enter an operation:/
11.0

In [ ]:
# Accepting 5 different subject marks from user and displaying the grade of the student
a=int(input("Enter 1st subject marks:"))
b=int(input("Enter 2nd subject marks:"))
c=int(input("Enter 3rd subject marks:"))
d=int(input("Enter 4th subject marks:"))
e=int(input("Enter 5th subject marks:"))
avg=(a+b+c+d+e)/5
print(avg) 
if(avg>=90):
        print("Grade: A")
elif(avg>=80 and avg<90):
        print("Grade: B")
elif(avg>=70 and avg<80):
        print("Grade: C")
elif(avg>=60 and avg<70):
        print("Grade: D")
else:
        print("Grade: F")

Enter 1st subject marks:90
Enter 2nd subject marks:90
Enter 3rd subject marks:95
Enter 4th subject marks:85
Enter 5th subject marks:90
90.0
Grade: A

In [ ]:
# Printing all odd numbers within given range
for i in range(5,100,2):
                      print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# Printing all Even numbers within given range
for i in range(4,100,2):
  print(i)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
# count of even and odd numbers
a=(5,2,4,6,9,13,8,60)
even_count,odd_count=0,0
for n in a:
  if n%2==0:
    even_count+=1
  else:
    odd_count+=1
print("Even numbers count",even_count)
print("Odd numbers count",odd_count)

Even numbers count 5
Odd numbers count 3

In [ ]:
# Compute the factorial of a given number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Enter a number: "))
print(factorial(n))

Enter a number: 5
120

In [ ]:
# Compute the factorial of a given number
num = int(input("Enter a number:"))    
factorial = 1    
if num < 0:    
   print("Factorial not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number:3
The factorial of 3 is 6

In [ ]:
# b) Compute GCD of two given numbers
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 5
Enter 2nd number: 15
GCD is 5

In [ ]:
#  c) Generate Fibonacci series up to N numbers
num = int(input("Enter the Number:"))
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Enter the Number:10
Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [ ]:
# Check whether the given input is
# a) palindrome 
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    digit=num%10
    rev=rev*10+digit
    num=num//10
if(temp==rev):
    print("Number is palindrome")
else:
    print("Not a palindrome")

Enter a number:5005
Number is palindrome

In [ ]:
# b) strong  
sum=0  
num=int(input("Enter a number:"))  
temp=num    
while(num):  
    i=1  
    fact=1  
    rem=num%10  
    while(i<=rem):  
        fact=fact*i 
        i=i+1  
    sum=sum+fact  
    num=num//10  
if(sum==temp):  
    print("Number is a strong number")  
else:  
    print("Number is not a strong number")

Enter a number:145
Number is a strong number

In [ ]:
# c) perfect
n = int(input("Enter any number: "))
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("Number is a Perfect number")
else:
    print("Number is not a Perfect number!")

Enter any number: 6
Number is a Perfect number

In [ ]:
# Compute compound interest using loop for a certain principal and interest amount
n=int(input("Enter the principle amount:"))
rate=int(input('Enter the rate:'))
years=int(input("Enter the number of years:"))
for i in range(years):
  n=n+((n*rate)/100)
print(n)

Enter the principle amount:100
Enter the rate:2
Enter the number of years:2
104.04