<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/Strings(Modify).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modify strings

In [ ]:
# lower to upper
a='i went to paris last week'
print(a.upper())

I WENT TO PARIS LAST WEEK

In [ ]:
# upper to lower
a='I WENT TO PARIS LAST WEEK'
print(a.lower())

i went to paris last week

In [ ]:
# remove spaces
a='        I went to paris last week            '
print(a.strip())

I went to paris last week

In [ ]:
# replace string
a='I went to paris last week'
print(a.replace('paris','Australia'))

I went to Australia last week

In [ ]:
# replace string
a='I went to paris last week'
print(a.replace('p','f'))

I went to faris last week

In [ ]:
# split string
a='I went to paris last week'
print(a.split(' '))

['I', 'went', 'to', 'paris', 'last', 'week']

In [ ]:
# split string
a='I went to paris,last week'
print(a.split(' , '))

['I went to paris,last week']

# Concatenate strings

In [ ]:
# Merge
a='India'
b='China'
c=a+b
print(c)

IndiaChina

In [ ]:
# add space
a='India'
b='China'
c=a + ' '+ b
print(c)

India China

In [ ]:
a='1,2,3'
b='Movie'
c=a+b
print(c)

1,2,3Movie

In [ ]:
a='1,2,3'
b='Movie'
c=a+ ' '+b
print(c)

1,2,3 Movie

# Format strings

In [ ]:
# cannot combine numbers and strings

In [ ]:
# numbers to strings
a=5
b='They have {} chocolates'
print(b.format(a))

They have 5 chocolates

In [ ]:
Quantity=5
ItemNo=55
price=50
order='I want to buy {} pieces of item {} for {} Yuan'
print(order.format(Quantity,ItemNo,price))

I want to buy 5 pieces of item 55 for 50 Yuan

In [31]:
Quantity=5
ItemNo=55
price=50
order='I want to buy {2} pieces of item {0} for {1} Yuan'
print(order.format(Quantity,ItemNo,price))

I want to buy 50 pieces of item 5 for 55 Yuan

In [35]:
s1=int(input("Enter first marks"))
s2=int(input("Enter second marks"))
s3=int(input('Enter third marks'))
s4=int(input("Enter fourth marks"))
Result='I got the marks memo of s1,s2,s3,s4 are {},{},{},{}'
print(Result.format(s1,s2,s3,s4))

Enter first marks80
Enter second marks85
Enter third marks90
Enter fourth marks95
I got the marks memo of s1,s2,s3,s4 are 80,85,90,95

# Escape characters

In [36]:
a='The place so called \"paris\" is a wonderful place'
print(a)

The place so called "paris" is a wonderful place

In [39]:
a='The place so called \\paris is a wonderful place'
print(a)

The place so called \paris is a wonderful place

In [40]:
a='The place so called \nparis is a wonderful place'
print(a)

The place so called
paris is a wonderful place

In [38]:
a='The place so called \tparis is a wonderful place'
print(a)

The place so called 	paris is a wonderful place

In [41]:
a='The place so called \bparis is a wonderful place'
print(a)

The place so calledparis is a wonderful place

In [42]:
a='The place so called\bparis is a wonderful place'
print(a)

The place so calledparis is a wonderful place

In [45]:
# octal
a="\110\145\154\154\157"
print(a)

Hello

# String methods

In [47]:
# capitalze
a='paris'
b=a.capitalize()
print(b)

Paris

In [49]:
# casefold
a='Paris'
b=a.casefold()
print(b)

paris

In [52]:
# center
a='paris'
b=a.center(50)
print(b)

                      paris

In [56]:
# count
a='Welcome to python'
b=a.count('e')
print(b)

2

In [57]:
# encode
a='Welcome to python'
b=a.encode()
print(b)

b'Welcome to python'