<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples and Access Tuples

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits)

('Apple', 'Mango', 'Litchi', 'Kiwi')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi','Apple','Mango')
print(Fruits)
print(type(Fruits))

('Apple', 'Mango', 'Litchi', 'Kiwi', 'Apple', 'Mango')
<class 'tuple'>

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(len(Fruits))

4

In [ ]:
Fruits=('Dragon fruit',)
print(type(Fruits))
Fruits=('Dragon fruit')
print(type(Fruits))

<class 'tuple'>
<class 'str'>

In [ ]:
Fruits1=('Apple','Mango','Litchi','Kiwi')
Fruits2=(5,10,15,20,25)
Fruits3=(True,True,True)
print(Fruits1)
print(Fruits2)
print(Fruits3)

('Apple', 'Mango', 'Litchi', 'Kiwi')
(5, 10, 15, 20, 25)
(True, True, True)

In [ ]:
a=('Movie',5,True,55,'China')
print(a)

('Movie', 5, True, 55, 'China')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(type(Fruits))

<class 'tuple'>

In [ ]:
Fruits=tuple(('Apple','Mango','Litchi','Kiwi'))
print(Fruits)

('Apple', 'Mango', 'Litchi', 'Kiwi')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits[1])

Mango

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits[-2])

Litchi

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits[1:3])

('Mango', 'Litchi')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits[:3])

('Apple', 'Mango', 'Litchi')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi')
print(Fruits[2:])

('Litchi', 'Kiwi')

In [ ]:
Fruits=('Apple','Mango','Litchi','Kiwi','Cherry','Dragon fruit')
print(Fruits[-3:-1])

('Kiwi', 'Cherry')

In [ ]:
Fruits=('Cherry','Litchi','Kiwi')
if 'Cherry' in Fruits:
  print('Cherry fruit is present')

Cherry fruit is present

## Update Tuples

In [ ]:
# Changing tuple values
a=('Cherry','Litchi','Kiwi')
b=list(a)
b[0]='Dragon fruit'
a=tuple(b)
print(a)

('Dragon fruit', 'Litchi', 'Kiwi')

In [ ]:
# Add Items
# changing into list
a=('Cherry','Litchi','Kiwi')
b=list(a)
b.append('Dragon fruit')
a=tuple(b)
print(a)

('Cherry', 'Litchi', 'Kiwi', 'Dragon fruit')

In [ ]:
# Add tuple to tuple
a=('Cherry','Litchi','Kiwi')
b=('Dragon fruit',)
a+=b
print(a)

('Cherry', 'Litchi', 'Kiwi', 'Dragon fruit')

In [ ]:
# Remove by converting into list
a=('Cherry','Litchi','Kiwi')
b=list(a)
b.remove('Cherry')
a=tuple(b)
print(a)

('Litchi', 'Kiwi')

In [ ]:
# delete the tuple
a=('Cherry','Litchi','Kiwi')
del a
print(a)
# error occurs because the tuple not exist

## Unpack Tuples

In [ ]:
# packing a tuple
a=('Cherry','Litchi','Kiwi')
# unpacking a tuple
(Red,White,Green) =a
print(Red)
print(White)
print(Green)

Cherry
Litchi
Kiwi

In [ ]:
# Using *asterisk
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
(Red,White,*Green) =a
print(Red)
print(White)
print(Green)

Cherry
Litchi
['Kiwi', 'Watermelon', 'Dragonfruit']

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
(Red,White,*Green) =a
print(Red)

Cherry

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
(Red,*White,Green) =a
print(Red)
print(White)

Cherry
['Litchi', 'Kiwi', 'Watermelon']

In [ ]:
# add list values to 'a' variable
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
(Red,*some,Green) =a
print(Red)
print(some)
print(Green)

Cherry
['Litchi', 'Kiwi', 'Watermelon']
Dragonfruit

## Loop Tuples

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
for i in a:
  print(i)

Cherry
Litchi
Kiwi
Watermelon
Dragonfruit

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
for i in range(len(a)):
  print(i)

0
1
2
3
4

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
for i in range(len(a)):
  print(a[i])

Cherry
Litchi
Kiwi
Watermelon
Dragonfruit

In [ ]:
a=('Cherry','Litchi','Kiwi','Watermelon','Dragonfruit')
i=0
while i<len(a):
  print(a[i])
  i+=1

Cherry
Litchi
Kiwi
Watermelon
Dragonfruit

## Join Tuples

In [ ]:
# Join two tuples
a=('a','b','c','d','e')
b=(1,2,3,4,5)
c=a+b
print(c)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)

In [ ]:
# Multiply tuples
Fruits=('Apple','Mango','Litchi','Kiwi','Cherry','Dragon fruit')
b=Fruits*2
print(b)

('Apple', 'Mango', 'Litchi', 'Kiwi', 'Cherry', 'Dragon fruit', 'Apple', 'Mango', 'Litchi', 'Kiwi', 'Cherry', 'Dragon fruit')

## Tuple methods

In [ ]:
# Count
a=(1,2,3,4,5,6,7,5,5,5,5)
b=a.count(5)
print(b)

5

In [ ]:
# Index
a=(1,2,3,4,5,6,7,8,9,10)
b=a.index(5)
print(b)

4