<a href="https://colab.research.google.com/github/ILikhitha/Python-Programs/blob/main/VU21CEN0101846_Likhitha_Lists_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON LISTS

## 1. Python lists

### Creating list

In [ ]:
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Kiwi']

### Allow Duplicates

In [ ]:
Fruits=['Apple','Mango','Litchi','Mango','Kiwi']
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Mango', 'Kiwi']

### List length

In [ ]:
Fruits=['Apple','Mango','Litchi','Kiwi']
print(len(Fruits))

4

## List items- Data types

In [ ]:
A_1=['Apple','Mango','Litchi','Kiwi']
A_2=[1,2,3,4]
A_3=[True,True,False]
print(A_1)
print(A_2)
print(A_3)

['Apple', 'Mango', 'Litchi', 'Kiwi']
[1, 2, 3, 4]
[True, True, False]

In [ ]:
# Different data types
A_1=['award',5,True,50,"Mango"]
print(A_1)

['award', 5, True, 50, 'Mango']

In [ ]:
# data type list
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits)
print(type(Fruits))

['Apple', 'Mango', 'Litchi', 'Kiwi']
<class 'list'>

In [ ]:
# list() constructor
Fruits=list(('Apple','Mango','Litchi','Kiwi'))
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Kiwi']

## 2. Access list items

In [ ]:
# Index
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits[2])

Litchi

In [ ]:
# Negative Index
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits[-2])

Litchi

In [ ]:
# not print fourth item
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits[:3])

['Apple', 'Mango', 'Litchi']

In [ ]:
# printing the mention index item to end
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits[1:])

['Mango', 'Litchi', 'Kiwi']

In [ ]:
# Range of negative indexes
Fruits=['Apple','Mango','Litchi','Kiwi']
print(Fruits[-3:-1])

['Mango', 'Litchi']

In [ ]:
# check if item present in list
Fruits=['Apple','Mango','Litchi','Kiwi']
if 'Apple' in Fruits:
  print("'Apple' fruit present in list")

'Apple' fruit present in list

## 3. Change list items

In [ ]:
# change item value
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits[2]='Cherry'
print(Fruits)

['Apple', 'Mango', 'Cherry', 'Kiwi']

In [ ]:
# change range of items
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits[1:3]=['Cherry','Dragon fruit']
print(Fruits)

['Apple', 'Cherry', 'Dragon fruit', 'Kiwi']

In [ ]:
# one replace with2 items
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits[0:1]=['Cherry','Dragon fruit']
print(Fruits)

['Cherry', 'Dragon fruit', 'Mango', 'Litchi', 'Kiwi']

In [ ]:
# 2 items replaced by 1 fruit
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits[1:3]=['Cherry']
print(Fruits)

['Apple', 'Cherry', 'Kiwi']

In [ ]:
# insert items
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.insert(2,'Cherry')
print(Fruits)

['Apple', 'Mango', 'Cherry', 'Litchi', 'Kiwi']

## 4. Add list items

In [ ]:
# Append items
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.append('watermelon')
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Kiwi', 'watermelon']

In [ ]:
# insert items
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.insert(1,'Cherry')
print(Fruits)

['Apple', 'Cherry', 'Mango', 'Litchi', 'Kiwi']

In [ ]:
# Extend list
Fruits=['Apple','Mango','Litchi','Kiwi']
New=['cherry','Banana','Guava']
Fruits.extend(New)
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Kiwi', 'cherry', 'Banana', 'Guava']

In [ ]:
# adding tuple to list
Fruits=['Apple','Mango','Litchi','Kiwi']
Newtuple=['pineapple','strawberry']
Fruits.extend(Newtuple)
print(Fruits)

['Apple', 'Mango', 'Litchi', 'Kiwi', 'pineapple', 'strawberry']

## 5. Remove list items

In [ ]:
# Remove specified item(remove)
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.remove('Mango')
print(Fruits)

['Apple', 'Litchi', 'Kiwi']

In [ ]:
# Remove specified index(pop)
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.pop(1)
print(Fruits)

['Apple', 'Litchi', 'Kiwi']

In [ ]:
# Remove last item
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.pop()
print(Fruits)

['Apple', 'Mango', 'Litchi']

In [ ]:
# del
Fruits=['Apple','Mango','Litchi','Kiwi']
del Fruits[0]
print(Fruits)

['Mango', 'Litchi', 'Kiwi']

In [ ]:
# del entire list
Fruits=['Apple','Mango','Litchi','Kiwi']
del Fruits

In [ ]:
# clear list
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.clear()
print(Fruits)

[]

## 6. Loop lists

In [ ]:
# loop through a list
Fruits=['Apple','Mango','Litchi','Kiwi']
for x in Fruits:
                print(x)

Apple
Mango
Litchi
Kiwi

In [ ]:
# Loop through index numbers
Fruits=['Apple','Mango','Litchi','Kiwi']
for i in range(len(Fruits)):
  print(Fruits[i])

Apple
Mango
Litchi
Kiwi

In [ ]:
# using while loop
Fruits = ['Apple','Mango','Litchi','Kiwi']
i = 0
while i < len(Fruits):
  print(Fruits[i])
  i = i + 1

Apple
Mango
Litchi
Kiwi

In [ ]:
# looping list comprehension
Fruits = ['Apple','Mango','Litchi','Kiwi']
[print(x) for x in Fruits]

Apple
Mango
Litchi
Kiwi

[None, None, None, None]

## 7. List comprehension

In [3]:
# list fruits contain i
Fruits=['Apple','Mango','Litchi','Kiwi']
new=[]
for x in Fruits:
  if 'i' in x:
    new.append(x)
print(new)

['Litchi', 'Kiwi']

In [5]:
# simplified list comprehension
Fruits=['Apple','Mango','Litchi','Kiwi']
new=[x for x in Fruits if 'i' in x]
print(new)

['Litchi', 'Kiwi']

In [ ]:
# Syntax: newlist = [expression for item in iterable if condition == True]

In [7]:
# Accept not Apple
Fruits=['Apple','Mango','Litchi','Kiwi']
New= [x for x in Fruits if x!= 'Apple' ]
print(New)

['Mango', 'Litchi', 'Kiwi']

In [9]:
# Without using if 
New=[x for x in range(10)]
print(New)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# With condition
New=[x for x in range(10) if x<5]
print(New)

[0, 1, 2, 3, 4]

In [13]:
# Expression
Fruits=['Apple','Mango','Litchi','Kiwi']
New= [x.upper() for x in Fruits]
print(New)

['APPLE', 'MANGO', 'LITCHI', 'KIWI']

In [14]:
Fruits=['Apple','Mango','Litchi','Kiwi']
New= ['hello' for x in Fruits]
print(New)

['hello', 'hello', 'hello', 'hello']

In [15]:
# Returning Cherry instead of Mango
Fruits=['Apple','Mango','Litchi','Kiwi']
New= [x if x != 'Mango' else 'Cherry' for x in Fruits]
print(New)

['Apple', 'Cherry', 'Litchi', 'Kiwi']

## 8. Sort lists

In [16]:
# Alphabetically arranged words
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.sort()
print(Fruits)

['Apple', 'Kiwi', 'Litchi', 'Mango']

In [17]:
# Numerically arranged
Numbers=[100,50,40,20,30]
Numbers.sort()
print(Numbers)

[20, 30, 40, 50, 100]

In [18]:
# Sort descending
Fruits=['Apple','Mango','Litchi','Kiwi']
Fruits.sort(reverse=True)
print(Fruits)

['Mango', 'Litchi', 'Kiwi', 'Apple']

In [19]:
# Sort descending numbers
Numbers=[100,50,40,20,30]
Numbers.sort(reverse=True)
print(Numbers)

[100, 50, 40, 30, 20]

In [4]:
# Customize sort function
def myfunc(n):
  return abs(n-50)
numbers=[100,50,40,20,30]
numbers.sort(key = myfunc)
print(numbers)

[50, 40, 30, 20, 100]

In [8]:
def myfunc(n):
  return abs(n - 50)

New= [100, 50, 60, 85, 23]
New.sort(key = myfunc)
print(New)

[50, 60, 23, 85, 100]

In [6]:
# Case sensitive
Fruits= ['Apple','Mango','Litchi','Kiwi']
Fruits.sort()
print(Fruits)

['Apple', 'Kiwi', 'Litchi', 'Mango']

In [9]:
New = ["strawberry", "Mango", "Kiwi", "cherry"]
New.sort()
print(New)

['Kiwi', 'Mango', 'cherry', 'strawberry']

In [10]:
# Case insensitive
Fruits= ['Apple','Mango','Litchi','Kiwi']
Fruits.sort(key = str.lower)
print(Fruits)

['Apple', 'Kiwi', 'Litchi', 'Mango']

In [13]:
New = ["strawberry", "Mango", "Kiwi", "cherry"]
New.sort()
print(New)

['Kiwi', 'Mango', 'cherry', 'strawberry']

In [17]:
# Reverse order

Fruits.reverse()
print(Fruits)

['cherry', 'Kiwi', 'Mango', 'strawberry']

## 9. Copy lists

In [21]:
Fruits= ['Apple','Mango','Litchi','Kiwi']
New=Fruits.copy()
print(New)

['Apple', 'Mango', 'Litchi', 'Kiwi']

In [23]:
Fruits= ['Apple','Mango','Litchi','Kiwi']
New=list(Fruits)
print(New)

['Apple', 'Mango', 'Litchi', 'Kiwi']

## 10. Join lists

In [24]:
A_1=['a','b','c','d']
A_2=[1,2,3,4]
A_3=A_1+A_2
print(A_3)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [29]:
list1=['a','b','c','d']
list2=[1,2,3,4]
for x in list2:
    list1.append(x)
  
print(list2)

[1, 2, 3, 4]

In [30]:
# extend()
list1=['a','b','c','d']
list2=[1,2,3,4]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

## 11. List Methods

In [ ]:
# Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

## 12. List Exercises

In [32]:
# second item in the fruits list
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [37]:
# Change the value from "apple" to "kiwi", in the fruits list.


fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [38]:
# append
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [40]:
# Insert
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [ ]:
# remove
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

In [41]:
# Negative index
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [42]:
# Range of index
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [43]:
# Number of fruits
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3